<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>login</key>
	<dict>
		<key>in</key>
		<string>TEBPAutoLoginInModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPAutoLoginExcutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>logoutClear</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPAutoLoginExcutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
</dict>
</plist>
