<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkFaceImage</key>
	<dict>
		<key>in</key>
		<string>TNBJFetchFaceImageInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNBJAuthorizedFaceImageForH5Excutor</string>
		<key>des</key>
		<string>供健康宝调起人脸获取人脸活体照片使用</string>
	</dict>
	<key>authorizedFaceImage</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNBJFaceSDKExcutor</string>
		<key>des</key>
		<string>获取人脸识别的图片信息</string>
	</dict>
	<key>jumpCheckFaceData</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCertValidFaceDataExcutor</string>
		<key>检查人脸是否失效，失效继续人脸</key>
		<string></string>
	</dict>
	<key>authorizedFaceImageForH5</key>
	<dict>
		<key>in</key>
		<string>TNBJFetchFaceImageInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNBJAuthorizedFaceImageForH5Excutor</string>
		<key>获取人脸活体并调用接口</key>
		<string>des</string>
	</dict>
	<key>jumpResetCertStatusAndInforRouter</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNResetCertStatusAndInforRouterModel</string>
		<key>description</key>
		<string>退出登录时，清除本地NSUserDefaults里面保存的认证状态和认证信息</string>
	</dict>
	<key>jumpGetLocalToonNoRouter</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNGetLocalToonNoRouterModel</string>
		<key>description</key>
		<string>给交通出行初始化提供本地toonNo</string>
	</dict>
	<key>faceCertifiNotificationRouter</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNBJFaceCertifiNotificationRouterModel</string>
		<key>功能描述</key>
		<string>直接人脸识别，人脸识别失败，点重试，重新进行人脸识别认证</string>
	</dict>
	<key>jumpServiceCheckAuthenRouter</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>TNServiceAuthenCheckOutModel</string>
		<key>excutor</key>
		<string>TNJumpToAuthenRouter</string>
		<key>功能</key>
		<string>查看当前认证状态是否和服务要求认证等级匹配</string>
	</dict>
	<key>authenCertificatedVC</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNEFuzhouAuthenJumpModel</string>
		<key>功能描述</key>
		<string>未认证跳开启页，已认证跳已认证页</string>
	</dict>
	<key>selectimage</key>
	<dict>
		<key>in</key>
		<string>TNRPhotoInModel</string>
		<key>out</key>
		<string>TNRPhotoOutModel</string>
		<key>excutor</key>
		<string>TNBJSelectImage</string>
	</dict>
	<key>bjRealNameTakePhoto</key>
	<dict>
		<key>in</key>
		<string>TNRPhotoInModel</string>
		<key>out</key>
		<string>TNRPhotoOutModel</string>
		<key>excutor</key>
		<string>TNBJCustomCaptureModel</string>
	</dict>
	<key>bjRealNameGrade</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNBJRealNameGradeRouterModel</string>
	</dict>
	<key>bjPaySettingCertify</key>
	<dict>
		<key>excutor</key>
		<string>TNBJPaySettingRouterModel</string>
	</dict>
	<key>bjSettingBankManage</key>
	<dict>
		<key>excutor</key>
		<string>TNBJSettingBankManageModel</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
