<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0</string>
	<key>single</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCSingleController</string>
	</dict>
	<key>mailgroup</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCMailGroupController</string>
	</dict>
	<key>group</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCGroupController</string>
	</dict>
	<key>dgroup</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCFlockController</string>
	</dict>
	<key>cgroup</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCOrgGroupController</string>
	</dict>
	<key>ggroup</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCGroupController</string>
	</dict>
	<key>app</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCAppController</string>
	</dict>
	<key>videoChat</key>
	<dict>
		<key>in</key>
		<string>TNCVideoChatParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCVideoChatExcutorModel</string>
	</dict>
	<key>getTemailList</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCGetMyTmailsExcutor</string>
	</dict>
	<key>getMyCards</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCGetMyCardsExcutor</string>
	</dict>
	<key>getAllCards</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCGetMyCardsExcutor</string>
	</dict>
	<key>importCertificate</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCImportCerExcutor</string>
	</dict>
	<key>makeCertificate</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCMakeCerExcutor</string>
	</dict>
	<key>tsbLogin</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCTsbExecutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>tsbReset</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCTsbExecutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>tsbPwdConfirm</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCTsbExecutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>filePreview</key>
	<dict>
		<key>in</key>
		<string>TNChatFilePreviewToonModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNChatFilePreviewExcutorModel</string>
	</dict>
	<key>qrcodeMytmails</key>
	<dict>
		<key>in</key>
		<string>TChatTmailQrcodeListIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatTmailQrcodeExcutor</string>
	</dict>
	<key>openSetting</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCOpenAllTmailSettingExcutor</string>
	</dict>
	<key>groupCreateDefault</key>
	<dict>
		<key>in</key>
		<string>TChatGroupCreateDefaultIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatCreateExcutorModel</string>
	</dict>
	<key>groupCreateFaster</key>
	<dict>
		<key>in</key>
		<string>TChatGroupCreateFasterIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatCreateExcutorModel</string>
	</dict>
	<key>groupList</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCGroupListExcutor</string>
	</dict>
	<key>tmailQrcode</key>
	<dict>
		<key>in</key>
		<string>TChatTmailQrcodeIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatTmailQrcodeExcutor</string>
	</dict>
	<key>tmailEdit</key>
	<dict>
		<key>in</key>
		<string>TChatTmailEditIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatTmailEditExcutor</string>
	</dict>
	<key>setup</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatSetupExcutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>chooseCard</key>
	<dict>
		<key>in</key>
		<string>TChatChooseCardIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatChooseCardExcutor</string>
		<key>onMainThread</key>
		<true/>
	</dict>
	<key>playerStopPlay</key>
	<dict>
		<key>in</key>
		<string>TNCPlayerManagerStopPlayIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCPlayerManagerExcutor</string>
	</dict>
	<key>playerPlaySound</key>
	<dict>
		<key>in</key>
		<string>TNCPlayerManagerPlaySoundIn</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCPlayerManagerExcutor</string>
	</dict>
	<key>getSession</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCSessionExecutor</string>
	</dict>
	<key>getSessionUnReadCountByDB</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCUnreadDBCountExcutor</string>
	</dict>
	<key>report</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNReportExecuter</string>
	</dict>
	<key>reportChooseSingle</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCSingleController</string>
	</dict>
	<key>reportChooseGroup</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNCFlockController</string>
	</dict>
	<key>sendUpdateUnreadCountNoti</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatSetupExcutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>initFilter</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNFilterExecuter</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>myTmailListIsContainORG</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatCheckMyTmailListIsContainORGExcutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>checkIsORGTmail</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TChatCheckMyTmailListIsContainORGExcutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
</dict>
</plist>
