<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openNewFriend</key>
	<dict>
		<key>in</key>
		<string>TNContactNewFriendInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNContactNewFriendVC</string>
		<key>description</key>
		<string>打开新朋友页面</string>
	</dict>
	<key>addBackupSuccessObserver</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactBindListenerExcutor</string>
		<key>description</key>
		<string>添加备份成功监听</string>
	</dict>
	<key>bindTemailMobile</key>
	<dict>
		<key>in</key>
		<string>TContactBindTemailMobileModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactNewFriendsRequestExcutor</string>
		<key>description</key>
		<string>绑定秘邮和手机号接口</string>
	</dict>
	<key>setTemailFindable</key>
	<dict>
		<key>in</key>
		<string>TContactBindTemailMobileModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactNewFriendsRequestExcutor</string>
		<key>description</key>
		<string>设置 秘邮是否可通过手机通讯录查询 状态</string>
	</dict>
	<key>getTemailFindable</key>
	<dict>
		<key>in</key>
		<string>TContactBindTemailMobileModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactNewFriendsRequestExcutor</string>
		<key>description</key>
		<string>获取 秘邮是否可通过手机通讯录查询 状态</string>
	</dict>
	<key>uploadContact</key>
	<dict>
		<key>in</key>
		<string>TContactUploadContactModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactNewFriendsRequestExcutor</string>
		<key>description</key>
		<string>获取新朋友列表接口</string>
	</dict>
	<key>openHomePage</key>
	<dict>
		<key>in</key>
		<string>TContactOpenHomePageModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactOpenHomePageExcutor</string>
		<key>description</key>
		<string>跳转到通讯录首页</string>
	</dict>
	<key>chooseContact</key>
	<dict>
		<key>description</key>
		<string>选择联系人</string>
		<key>excutor</key>
		<string>TNChooseContactExecutor</string>
		<key>in</key>
		<string>TNChooseTmailSetModel</string>
		<key>out</key>
		<string></string>
	</dict>
	<key>addContact</key>
	<dict>
		<key>description</key>
		<string>添加联系人</string>
		<key>excutor</key>
		<string>TContactAddContactExcutor</string>
		<key>in</key>
		<string>TContactAddContactModel</string>
		<key>out</key>
		<string></string>
	</dict>
	<key>forwardContact</key>
	<dict>
		<key>description</key>
		<string>转发到联系人</string>
		<key>excutor</key>
		<string>TContactChooseTmailSetExcutorModel</string>
		<key>in</key>
		<string>TNChooseTmailSetModel</string>
		<key>out</key>
		<string></string>
	</dict>
	<key>PhoneContactStatus</key>
	<dict>
		<key>description</key>
		<string>查询导入手机通讯录状态</string>
		<key>excutor</key>
		<string>TContactPhoneContactStatusExcutor</string>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
	</dict>
	<key>importPhoneContact</key>
	<dict>
		<key>description</key>
		<string>导入手机通讯录</string>
		<key>excutor</key>
		<string>TContactImportPhoneContactsExcutor</string>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
	</dict>
	<key>readAllPhoneContact</key>
	<dict>
		<key>description</key>
		<string>新朋友全部设置为已读</string>
		<key>excutor</key>
		<string>TContactReadAllPhoneContactsExcutor</string>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
	</dict>
	<key>setup</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactSetupExcutor</string>
		<key>description</key>
		<string>模块初始化</string>
	</dict>
	<key>updateOrg</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactSetupExcutor</string>
		<key>description</key>
		<string>更新组织通讯录</string>
	</dict>
	<key>contactDetail</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TContactDetailExcutor</string>
		<key>description</key>
		<string>获取联系人详情</string>
	</dict>
	<key>New item</key>
	<string></string>
</dict>
</plist>
