<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectOrgStaff</key>
	<dict>
		<key>excutor</key>
		<string>TcontactSelectOrgRouter</string>
		<key>in</key>
		<string>TcontactSelectOrgInModel</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>getOrgList</key>
	<dict>
		<key>excutor</key>
		<string>TcontactGetOrgRouter</string>
		<key>in</key>
		<string></string>
		<key>description</key>
		<string>获取登录组织数据</string>
	</dict>
	<key>switchUserDB</key>
	<dict>
		<key>description</key>
		<string>切换用户数据库</string>
		<key>excutor</key>
		<string>TNSwitchUserDBToonRouter</string>
		<key>in</key>
		<string>TNSwitchUserDBToonRouterModel</string>
	</dict>
</dict>
</plist>
