<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>helper_write</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>helper_write</string>
		<key>helper</key>
		<string></string>
		<key>title</key>
		<string>撰写新消息</string>
		<key>iconsmall</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>iconhighlight</key>
		<string></string>
		<key>needCallback</key>
		<true/>
		<key>url</key>
		<string>toon://message/write?params={&quot;writeType&quot;:&quot;1&quot;}</string>
	</dict>
	<key>helper_markdown</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>helper_markdown</string>
		<key>helper</key>
		<string></string>
		<key>title</key>
		<string>撰写Markdown</string>
		<key>iconsmall</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>iconhighlight</key>
		<string></string>
		<key>needCallback</key>
		<true/>
		<key>url</key>
		<string>toon://message/write?params={&quot;writeType&quot;:&quot;1&quot;, &quot;isMarkdown&quot;:&quot;1&quot;}</string>
	</dict>
	<key>helper_traceless</key>
	<dict>
		<key>type</key>
		<string>single</string>
		<key>key</key>
		<string>helper_traceless</string>
		<key>helper</key>
		<string></string>
		<key>title</key>
		<string>无痕消息</string>
		<key>iconsmall</key>
		<string></string>
		<key>icon</key>
		<string>helper_input_traceless_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_traceless_highlight</string>
		<key>needCallback</key>
		<true/>
		<key>url</key>
		<string>toon://message/write?params={&quot;writeType&quot;:&quot;2&quot;}</string>
	</dict>
	<key>helper_at</key>
	<dict>
		<key>type</key>
		<string>group</string>
		<key>key</key>
		<string>helper_at</string>
		<key>helper</key>
		<string></string>
		<key>title</key>
		<string>私聊</string>
		<key>iconsmall</key>
		<string></string>
		<key>icon</key>
		<string>helper_input_at_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_at_highlight</string>
		<key>needCallback</key>
		<true/>
		<key>url</key>
		<string>toon://message/write?params={&quot;writeType&quot;:&quot;9&quot;}</string>
	</dict>
	<key>input_voice</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_voice</string>
		<key>helper</key>
		<string>TNCVoiceHelper</string>
		<key>title</key>
		<string>语音</string>
		<key>iconsmall</key>
		<string>quick_input_audio</string>
		<key>icon</key>
		<string>helper_input_voice_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_voice_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<key>input_photo</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_photo</string>
		<key>helper</key>
		<string>TNCPhotoHelper</string>
		<key>title</key>
		<string>照片</string>
		<key>iconsmall</key>
		<string>quick_input_image</string>
		<key>icon</key>
		<string>helper_input_photo_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_photo_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string>toon://tphoto/photo</string>
	</dict>
	<key>input_camera</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_camera</string>
		<key>helper</key>
		<string>TNCVideoHelper</string>
		<key>title</key>
		<string>拍摄</string>
		<key>iconsmall</key>
		<string>quick_input_camera</string>
		<key>icon</key>
		<string>helper_input_camera_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_camera_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string>toon://chat/video</string>
	</dict>
	<key>input_videocall</key>
	<dict>
		<key>type</key>
		<string>single</string>
		<key>key</key>
		<string>input_videocall</string>
		<key>helper</key>
		<string>TNCVideoChatHelper</string>
		<key>title</key>
		<string>视频通话</string>
		<key>iconsmall</key>
		<string>input_helper_videochat</string>
		<key>icon</key>
		<string>helper_input_videocall_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_videocall_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string>toon://chatvideo/videoChat</string>
	</dict>
	<key>input_file</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_file</string>
		<key>helper</key>
		<string>TNCFileHelper</string>
		<key>title</key>
		<string>文件</string>
		<key>iconsmall</key>
		<string>quick_input_file</string>
		<key>icon</key>
		<string>helper_input_file_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_file_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<key>input_location</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_location</string>
		<key>helper</key>
		<string>TNCLocationHelper</string>
		<key>title</key>
		<string>发送位置</string>
		<key>iconsmall</key>
		<string>quick_input_location</string>
		<key>icon</key>
		<string>helper_input_location_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_location_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string>toon://gaodemap/openmap</string>
	</dict>
	<key>input_card</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_card</string>
		<key>helper</key>
		<string>TNCCardHelper</string>
		<key>title</key>
		<string>名片</string>
		<key>iconsmall</key>
		<string>quick_input_card</string>
		<key>icon</key>
		<string>helper_input_card_normal</string>
		<key>iconhighlight</key>
		<string>helper_input_card_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<key>input_audiocall</key>
	<dict>
		<key>type</key>
		<string>all</string>
		<key>key</key>
		<string>input_audiocall</string>
		<key>helper</key>
		<string>TNCVoiceChatHelper</string>
		<key>title</key>
		<string>语音通话</string>
		<key>iconsmall</key>
		<string>input_helper_voicechat</string>
		<key>icon</key>
		<string>helper_input_voice_highlight</string>
		<key>iconhighlight</key>
		<string>helper_input_voice_highlight</string>
		<key>needCallback</key>
		<false/>
		<key>url</key>
		<string>toon://chatvideo/videoChat</string>
	</dict>
</dict>
</plist>
