<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>write</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>撰写</string>
	</dict>
	<key>markdownWrite</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>markdown撰写</string>
	</dict>
	<key>newTopic</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>新话题</string>
	</dict>
	<key>createGroupChat</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>发起群聊</string>
	</dict>
	<key>scan</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>扫一扫</string>
	</dict>
	<key>newContact</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>新联系人</string>
	</dict>
	<key>appSquare</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>应用广场</string>
	</dict>
	<key>meeting</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>会议</string>
	</dict>
	<key>contact</key>
	<dict>
		<key>excutor</key>
		<string>TNCMainHelpRouterExcutor</string>
		<key>description</key>
		<string>联系人</string>
	</dict>
</dict>
</plist>
