<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qrcodeLogin</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCQrcodeLoginController</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>扫码登陆</string>
	</dict>
	<key>addOrUpdateCustomSession</key>
	<dict>
		<key>in</key>
		<string>TNCAppNoticeSessionModel</string>
		<key>excutor</key>
		<string>TNCAppNoticeSessionExcutor</string>
	</dict>
	<key>pushToken</key>
	<dict>
		<key>excutor</key>
		<string>TNCPushModelExcutor</string>
		<key>in</key>
		<string>TNCPushModel</string>
	</dict>
	<key>openShare</key>
	<dict>
		<key>in</key>
		<string>TChatForwardInModel</string>
		<key>excutor</key>
		<string>TChatForwardExcutorModel</string>
	</dict>
	<key>openNewMsgSet</key>
	<dict>
		<key>excutor</key>
		<string>TNCNewMsgSetViewController</string>
	</dict>
	<key>openTmailDetail</key>
	<dict>
		<key>in</key>
		<string>TNCOpenFrameModel</string>
		<key>excutor</key>
		<string>TNCOpenFrameModelExcutor</string>
	</dict>
	<key>openChat</key>
	<dict>
		<key>in</key>
		<string>TNCOpenChatModel</string>
		<key>excutor</key>
		<string>TNCOpenChatExcutor</string>
	</dict>
	<key>openSession</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNCHomePageRouterExcutor</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>注销主页,更换新的主页,切换语言等场景需要</string>
	</dict>
	<key>newContact</key>
	<dict>
		<key>in</key>
		<string>TChatSendParamIn</string>
		<key>excutor</key>
		<string>TChatAddCRouter</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>新联系人</string>
	</dict>
	<key>newTopic</key>
	<dict>
		<key>in</key>
		<string>TChatSendParamIn</string>
		<key>excutor</key>
		<string>TChatTopicViewController</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>新话题</string>
	</dict>
	<key>write</key>
	<dict>
		<key>in</key>
		<string>TChatWriteParamIn</string>
		<key>excutor</key>
		<string>TChatWriteExcutor</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>撰写</string>
	</dict>
	<key>newMeeting</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>excutor</key>
		<string>TChatCreateMeetingViewController</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>新建会议</string>
	</dict>
	<key>manageMyBackScreen</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNMyBackScreenViewController</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>我得舞台</string>
	</dict>
	<key>aboutMyBackScreen</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TNAboutMyBackScreenModel</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>关于我的舞台</string>
	</dict>
	<key>getSessionUnReadCount</key>
	<dict>
		<key>in</key>
		<string>TNCUnreadCountModel</string>
		<key>excutor</key>
		<string>TNCUnreadCountExcutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>查询未读数</string>
	</dict>
	<key>filterHomePage</key>
	<dict>
		<key>in</key>
		<string>TNCFilterHomePageModel</string>
		<key>excutor</key>
		<string>TNCFilterHomePageExcutor</string>
		<key>desc</key>
		<string>收件箱页面筛选</string>
	</dict>
    <key>openHomePage</key>
    <dict>
        <key>in</key>
        <string>TNCFilterHomePageModel</string>
        <key>excutor</key>
        <string>TNCOpenHomePageExcutor</string>
        <key>desc</key>
        <string>打开消息首页</string>
    </dict>
	<key>addContact</key>
	<dict>
		<key>in</key>
		<string>TChatSendParamIn</string>
		<key>excutor</key>
		<string>TChatAddCRouter</string>
		<key>out</key>
		<string></string>
		<key>desc</key>
		<string>新联系人</string>
	</dict>
</dict>
</plist>
