<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>version</key>
		<string>3.3.3</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.2</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.1</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.3</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.3</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.3</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.3</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
	<dict>
		<key>version</key>
		<string>3.3.3</string>
		<key>introduction</key>
		<string>1.全新“小组”功能上线：轻松找到兴趣相投的小伙伴 2.强化搜索功能：语音搜索和拼音搜索闪亮登场 3.聊天内容可以转发给好友了 4.“名片”及“个人中心”视觉效果优化 5.优化登录流程 6.优化“收藏”功能</string>
	</dict>
</array>
</plist>
