<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edit</key>
	<dict>
		<key>excutor</key>
		<string>TNPhenixCardEditRouter</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>TNRCallbackModel</string>
	</dict>
	<key>createcard</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>TNRCallbackModel</string>
		<key>excutor</key>
		<string>TNPhenixCardCreateRouter</string>
	</dict>
</dict>
</plist>
