<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headlinesSearch</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCHeadlinesSearchViewController</string>
	</dict>
	<key>searchApp</key>
	<dict>
		<key>in</key>
		<string>TNSearchRouterInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNSearchWithSelectionController</string>
	</dict>
	<key>groupAndPostSearch</key>
	<dict>
		<key>in</key>
		<string>TNSearchRouterInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNSearchGroupAndPostController</string>
	</dict>
	<key>postSearch</key>
	<dict>
		<key>in</key>
		<string>TNSearchRouterInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNSearchPostController</string>
	</dict>
	<key>voiceSearch</key>
	<dict>
		<key>in</key>
		<string>TNSearchRouterInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNSearchVoiceManager</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
