<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>eccGenerateKey</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEccGetPubKeyModel</string>
    </dict>
    <key>eccGetPubkey</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEccGetPubKeyModel</string>
    </dict>
    <key>eccSign</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEccSignModel</string>
    </dict>
    <key>eccVerify</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEccVerifySignModel</string>
    </dict>
    <key>eccEncryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEccEncryptModel</string>
    </dict>
    <key>eccDecryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEccDecryptModel</string>
    </dict>
    <key>aesEncryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSAESEncryptDataModel</string>
    </dict>
    <key>aesDecryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSAESDecryptDataModel</string>
    </dict>
    <key>aesEncryptFile</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSAESEncryptFileModel</string>
    </dict>
    <key>aesDecryptFile</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSAESDecryptFileModel</string>
    </dict>
    <key>sha256Text</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSHA256TextModel</string>
    </dict>
    <key>sha256File</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSHA256FileModel</string>
    </dict>
    <key>sm2GenerateKey</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM2GenerateKeyModel</string>
    </dict>
    <key>sm2Sign</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM2SignModel</string>
    </dict>
    <key>sm2Verify</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM2VerifySignModel</string>
    </dict>
    <key>sm2EncryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM2EncryptModel</string>
    </dict>
    <key>sm2DecryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM2DecryptModel</string>
    </dict>
    <key>sm3</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM3TextModel</string>
    </dict>
    <key>sm4EncryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM4EncryptModel</string>
    </dict>
    <key>sm4DecryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM4DecryptModel</string>
    </dict>
    <key>sm234EncryptData</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSM2EncryptModel</string>
    </dict>
    <key>base64Encode</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSafeBase64EncodeModel</string>
    </dict>
    <key>base64Decode</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSSafeBase64DecodeModel</string>
    </dict>
    <key>encodePubkey</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEncodePubkeyModel</string>
    </dict>
    <key>decodePubkey</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSDecodePubkeyModel</string>
    </dict>
    <key>smsencry</key>
    <dict>
        <key>excutor</key>
        <string>TMSAlgorithmRouter</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>TMSEncodePubkeyModel</string>
    </dict>
</dict>
</plist>
