<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>entryList</key>
		<array>
			<dict>
				<key>icon</key>
				<string>mine_personal_account</string>
				<key>title</key>
				<string>我的账号</string>
				<key>url</key>
				<string>toon://accountservice/openAccountManagerPage</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>entryList</key>
		<array>
			<dict>
				<key>icon</key>
				<string>mine_system_setting</string>
				<key>title</key>
				<string>系统设置</string>
				<key>url</key>
				<string>toon://tuser/openSystemSetting</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
