<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>TNQRCodeAppShareTypes</key>
		<dict>
			<key>TNASharingChannelsTypeCircle</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeForum</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeMessage</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeQQ</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeQQSpace</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeToon</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeWeChat</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeChatCircle</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeiBo</key>
			<string>(1)</string>
		</dict>
		<key>TNQRCodeCardShareTypes</key>
		<dict>
			<key>TNASharingChannelsTypeCircle</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeForum</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeMessage</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeQQ</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeQQSpace</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeToon</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeChat</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeChatCircle</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeiBo</key>
			<string>(1)</string>
		</dict>
		<key>TNQRCodeOrgCardShareTypes</key>
		<dict>
			<key>TNASharingChannelsTypeCircle</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeForum</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeMessage</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeQQ</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeQQSpace</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeToon</key>
			<string>(0)</string>
			<key>TNASharingChannelsTypeWeChat</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeChatCircle</key>
			<string>(1)</string>
			<key>TNASharingChannelsTypeWeiBo</key>
			<string>(1)</string>
		</dict>
		<key>qrcode_activity_word</key>
		<string>扫一扫二维码，加入活动</string>
		<key>qrcode_appLogo</key>
		<string>TNAQrCodeApp_Icon</string>
		<key>qrcode_appUrl</key>
		<string>http</string>
		<key>qrcode_button_color</key>
		<string></string>
		<key>qrcode_button_title</key>
		<string>[{title</string>
		<key>qrcode_card_word</key>
		<string>扫一扫上面的二维码，和我交换toon名片</string>
		<key>qrcode_group_word</key>
		<string>扫一扫二维码，加入群组</string>
		<key>qrcode_info_color</key>
		<string>#777e8c</string>
		<key>qrcode_info_font</key>
		<string>HeitiSC</string>
		<key>qrcode_info_size</key>
		<string>14.0</string>
		<key>qrcode_staff_word</key>
		<string>扫一扫上面的二维码，和我交换toon名片</string>
		<key>type:scan</key>
		<dict>
			<key>]</key>
			<string></string>
			<key>qrcode_button_app</key>
			<string>[share</string>
			<key>qrcode_button_frame</key>
			<string>[share</string>
			<key>qrcode_button_scan</key>
			<string>[share</string>
			<key>save</key>
			<string></string>
			<key>save]</key>
			<string></string>
			<key>scan]</key>
			<string></string>
		</dict>
		<key>type:share</key>
		<dict>
			<key>type</key>
			<string>save</string>
			<key>{title</key>
			<string>保存</string>
		</dict>
		<key>{title</key>
		<string>扫一扫</string>
		<key>下载toon通</key>
		<string></string>
	</dict>
	<key>material</key>
	<dict/>
</dict>
</plist>
