<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>post</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>excutor</key>
            <string>TNMQRouterProxy</string>
            <key>catchCallBack</key>
            <false/>
        </dict>

        <key>subscribe</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>excutor</key>
            <string>TNMQRouterProxy</string>
            <key>catchCallBack</key>
            <false/>
        </dict>

        <key>unsubscribe</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>excutor</key>
            <string>TNMQRouterProxy</string>
            <key>catchCallBack</key>
            <false/>
        </dict>


        <key>getActionParamMap</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>excutor</key>
            <string>TNMQRouterProxy</string>
            <key>catchCallBack</key>
            <true/>
        </dict>

    </dict>
</plist>
