<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-1009</key>
	<string>网络异常，请检查网络连接并重试</string>
	<key>20004</key>
	<string>验证码接收次数超限，请24小时后重试</string>
	<key>20005</key>
	<string>验证码请求过于频繁，请在1小时后重试</string>
	<key>20006</key>
	<string>操作频繁，请稍后再试</string>
	<key>20010</key>
	<string>请输入正确的手机号</string>
	<key>20000</key>
	<string>验证码输入错误，请重新输入</string>
</dict>
</plist>
