<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getUserId</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNMineGetUserIdInteractor</string>
		<key>description</key>
		<string>获取用户id</string>
	</dict>
	<key>openMiniAppWithExtra</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNFOpenMiniAppWithExtraModel</string>
		<key>description</key>
		<string>打开小程序</string>
	</dict>
	<key>openSystemSetting</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserJumpToSettingModel</string>
		<key>description</key>
		<string>用户跳转到系统设置toon协议</string>
	</dict>
	<key>showKickOutAlertView</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserKickOutAlertModel</string>
		<key>description</key>
		<string>用户被踢出登陆后弹alert框</string>
	</dict>
	<key>saveLoginData</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserSaveLoginDataModel</string>
		<key>description</key>
		<string>保存用户登录成功的信息</string>
	</dict>
	<key>getRequestHeader</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserGetRequestHeaderModel</string>
		<key>description</key>
		<string>获取请求头信息</string>
	</dict>
	<key>getUserData</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserGetUserInfoModel</string>
		<key>description</key>
		<string>获取用户信息userId,userToken,phoneNum</string>
	</dict>
	<key>openGeneralSetting</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TOpenGeneralSettingModel</string>
		<key>description</key>
		<string>打开通用设置toon协议</string>
	</dict>
	<key>openAbout</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TOpenAboutModel</string>
		<key>description</key>
		<string>打开关于界面的toon协议</string>
	</dict>
	<key>openAccountSetting</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TOpenAccountSettingModel</string>
		<key>description</key>
		<string>打开账号设置界面的toon协议</string>
	</dict>
	<key>showAbannedAlertView</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserAbannedAlertModel</string>
		<key>description</key>
		<string>用户被封禁后弹alert框</string>
	</dict>
	<key>openHelpAndFeedback</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserOpenHelpAndFeedbackModel</string>
		<key>description</key>
		<string>帮助与反馈</string>
	</dict>
	<key>callKeFuPhone</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserCallPhoneModel</string>
		<key>description</key>
		<string>打电话</string>
	</dict>
	<key>callLogoutRequest</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserCallLogoutRequestModel</string>
		<key>description</key>
		<string>调用退出登录接口</string>
	</dict>
	<key>jumpToPCLogin</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TJumpToPCLoginModel</string>
		<key>description</key>
		<string>跳到pc扫描登陆界面</string>
	</dict>
	<key>openUserAgreement</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserAgreementViewController</string>
		<key>description</key>
		<string>打开用户协议</string>
	</dict>
	<key>popupLoigin</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TPopupLoiginModel</string>
		<key>description</key>
		<string>弹出登录页面</string>
	</dict>
	<key>popupCardVerify</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TPopupCardVerifyModel</string>
		<key>description</key>
		<string>卡注册设置密码</string>
	</dict>
	<key>getPersonalCard</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TUserGetMyCardsExcutor</string>
		<key>des</key>
		<string>获取密邮个人名片信息</string>
	</dict>
    <key>openLanguageSetting</key>
    <dict>
        <key>in</key>
        <string>NSDictionary</string>
        <key>out</key>
        <string></string>
        <key>excutor</key>
        <string>LanguageChangeExcutor</string>
        <key>des</key>
        <string></string>
    </dict>
    <key>openEasyMode</key>
    <dict>
        <key>in</key>
        <string>NSDictionary</string>
        <key>out</key>
        <string></string>
        <key>excutor</key>
        <string>DAEasyModeViewController</string>
        <key>开启关爱模式</key>
        <string></string>
    </dict>
</dict>
</plist>
