<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10601060</key>
	<string>新旧密码不能一致</string>
	<key>-1020</key>
	<string>网络异常，请检查网络连接并重试</string>
	<key>-1009</key>
	<string>网络异常，请检查网络连接并重试</string>
	<key>-100</key>
	<string>操作失败,请重新尝试</string>
	<key>10699999</key>
	<string>操作失败,请重新尝试</string>
	<key>10600001</key>
	<string>验证码接收次数超限,请24小时后重试</string>
	<key>10600002</key>
	<string>验证码请求过于频繁，请在1小时后重试</string>
	<key>10600003</key>
	<string>验证码失效，请重新尝试</string>
	<key>10600004</key>
	<string>验证码错误次数超限，请在1小时后重试</string>
	<key>10600005</key>
	<string>验证码错误，请重新输入</string>
	<key>10600006</key>
	<string>操作失败,请重新尝试</string>
	<key>10600007</key>
	<string>验证码错误，请重新输入</string>
	<key>10600008</key>
	<string>操作失败,请重新尝试</string>
	<key>10600011</key>
	<string>验证码接收次数超限,请24小时后重试</string>
	<key>10600012</key>
	<string>验证码请求过于频繁，请在1小时后重试</string>
	<key>10600013</key>
	<string>验证码失效，请重新尝试</string>
	<key>10600014</key>
	<string>验证码错误次数超限，请在1小时后重试</string>
	<key>10600015</key>
	<string>验证码错误，请重新输入</string>
	<key>10600016</key>
	<string>操作失败,请重新尝试</string>
	<key>10601001</key>
	<string>操作失败,请重新尝试</string>
	<key>10601002</key>
	<string>操作失败,请重新尝试</string>
	<key>10601003</key>
	<string>请输入正确的手机号</string>
	<key>10601004</key>
	<string>更换的手机号已被注册</string>
	<key>10601005</key>
	<string>该账号尚未注册</string>
	<key>10601006</key>
	<string>密码错误，请重新输入</string>
	<key>10601007</key>
	<string>无效的userToken</string>
	<key>10601008</key>
	<string>更换的手机号不能与当前手机号一致</string>
	<key>10601009</key>
	<string>该邮箱已被绑定</string>
	<key>10601010</key>
	<string>邮箱未绑定</string>
	<key>10601011</key>
	<string>操作失败,请重新尝试</string>
	<key>10601012</key>
	<string>操作失败,请重新尝试</string>
	<key>10601013</key>
	<string>旧密码输入有误，请重新输入</string>
	<key>10601014</key>
	<string>操作失败,请重新尝试</string>
	<key>10601015</key>
	<string>输入错误密码次数超限，请稍后再试</string>
	<key>10601016</key>
	<string>操作失败,请重新尝试</string>
	<key>10601017</key>
	<string>答案错误,请重新输入</string>
	<key>10601018</key>
	<string>操作失败,请重新尝试</string>
	<key>10601019</key>
	<string>操作失败,请重新尝试</string>
	<key>10601020</key>
	<string>操作失败,请重新尝试</string>
	<key>10601021</key>
	<string>账号被注销</string>
	<key>10601022</key>
	<string>账号被禁用</string>
	<key>10601023</key>
	<string>操作失败,请重新尝试</string>
	<key>10601024</key>
	<string>该账号尚未设置密码</string>
	<key>10601025</key>
	<string>操作失败,请重新尝试</string>
	<key>10601026</key>
	<string>短时间内验证密码次数过多，请稍后再试</string>
	<key>10601027</key>
	<string>长时间未修改密码，请重新尝试</string>
	<key>10601057</key>
	<string>您未设置密保问题或输入的注册卡号错误</string>
	<key>10601029</key>
	<string>二维码已失效，请重新尝试</string>
	<key>10602001</key>
	<string>操作失败,请重新尝试</string>
	<key>10605003</key>
	<string>名称或内容包含违禁词汇</string>
	<key>10601048</key>
	<string>注册卡号或密码错误，请重新输入</string>
	<key>10601070</key>
	<string>第一次登录,请重置密码</string>
	<key>10605002</key>
	<string>昵称包含违禁词汇</string>
	<key>106010460</key>
	<string>Invalid CAPTCHA</string>
	<key>106010470</key>
	<string>Please try again in five minutes.</string>
	<key>106010480</key>
	<string>Enter the correct accreditation card ID</string>
	<key>106010490</key>
	<string>The card ID is already registered </string>
	<key>106010500</key>
	<string>The username already exists </string>
	<key>106010170</key>
	<string>Wrong answer</string>
	<key>106010450</key>
	<string>Fail to generate CAPTCHA</string>
	<key>106010510</key>
	<string>The verification code has expired. Please input it again</string>
	<key>106999990</key>
	<string>The operation failed. Please try again</string>
	<key>106010060</key>
	<string>error user name or password</string>
	<key>106010150</key>
	<string>Please try again in five minutes.</string>
</dict>
</plist>
