<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>js.research@icloud.com</string>
	<key>artistId</key>
	<integer>1559670295</integer>
	<key>artistName</key>
	<string>北京金融控股集团有限公司</string>
	<key>bundleDisplayName</key>
	<string>My 2022</string>
	<key>bundleShortVersionString</key>
	<string>2.0.5</string>
	<key>bundleVersion</key>
	<string>2201142046</string>
	<key>copyright</key>
	<string>© 2021 北京金融控股集团有限公司</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Utilities</string>
	<key>genreId</key>
	<integer>6002</integer>
	<key>itemId</key>
	<integer>1548453616</integer>
	<key>itemName</key>
	<string>MY2022</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>北京金融控股集团有限公司</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS , Advisory.NO.TRUE_GAMBLING and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2021-03-22T07:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is4-ssl.mzstatic.com/image/thumb/Purple116/v4/bf/e8/06/bfe8068e-a2df-793c-ab1a-13f660ad699e/AppIcon-1x_U007emarketing-0-5-0-0-P3-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.systoon.dongaotoon</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>846638544</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>840002195</integer>
		<integer>841005011</integer>
		<integer>841069983</integer>
		<integer>841267030</integer>
		<integer>842528688</integer>
		<integer>845609983</integer>
		<integer>846543922</integer>
		<integer>846638544</integer>
	</array>
	<key>userName</key>
	<string>js.research@icloud.com</string>
	<key>vendorId</key>
	<integer>122567873</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
