<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getHistoryApp</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNGetHistroyAppExcutor</string>
		<key>description</key>
		<string>获取历史应用</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>updateHistoryApp</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNUpdateHistroyAppExcutor</string>
		<key>description</key>
		<string>更新历史应用</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>openMiniAppWithExtra</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNOpenMiniAppWithExtraModel</string>
		<key>description</key>
		<string>打开小程序</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>homeJumpOrgApp</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeJumpOrgAppExcutor</string>
		<key>des</key>
		<string>跳转到服务,包括跳转之前的逻辑</string>
	</dict>
	<key>homeJumpApp</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeJumpAppExcutor</string>
		<key>des</key>
		<string>跳转到服务,包括跳转之前的逻辑</string>
	</dict>
    <key>getOpenInfo</key>
    <dict>
        <key>in</key>
        <string>NSDictionary</string>
        <key>out</key>
        <string></string>
        <key>excutor</key>
        <string>TNHomeJumpAppExcutor</string>
        <key>des</key>
        <string>跳转到服务,包括跳转之前的逻辑</string>
    </dict>
</dict>
</plist>
