<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getrootnavictr</key>
	<dict>
		<key>out</key>
		<string>UINavigationController</string>
		<key>excutor</key>
		<string>TNAppStackManagerGetRootNavigation</string>
	</dict>
	<key>gettabheight</key>
	<dict>
		<key>out</key>
		<integer>0</integer>
		<key>excutor</key>
		<string>TNAppStackManagerGetTabHeight</string>
	</dict>
	<key>getnavigation</key>
	<dict>
		<key>out</key>
		<string>UINavigationController</string>
		<key>excutor</key>
		<string>TNAppStackManagerGetNavgation</string>
	</dict>
	<key>presentcontroller</key>
	<dict>
		<key>excutor</key>
		<string>TNAppStackManager</string>
		<key>out</key>
		<string></string>
		<key>in</key>
		<string>TNAppStackPresentModel</string>
	</dict>
	<key>popcontroller</key>
	<dict>
		<key>excutor</key>
		<string>TNAppStackManager</string>
		<key>in</key>
		<string>TNAppStackPopModel</string>
		<key>out</key>
		<string></string>
	</dict>
	<key>pushcontroller</key>
	<dict>
		<key>in</key>
		<string>TNAppStackPushModel</string>
		<key>excutor</key>
		<string>TNAppStackManager</string>
		<key>out</key>
		<string></string>
	</dict>
	<key>tabselect</key>
	<dict>
		<key>excutor</key>
		<string>TNAppStackManager</string>
		<key>out</key>
		<string></string>
		<key>in</key>
		<string>TNAppStackTabModel</string>
	</dict>
	<key>appLaunch</key>
	<dict>
		<key>excutor</key>
		<string>TNTabbarAppLaunchModel</string>
		<key>out</key>
		<string></string>
		<key>in</key>
		<string></string>
	</dict>
	<key>unreadCountBlk</key>
	<dict>
		<key>excutor</key>
		<string>TNTabbarUnreadCountRouterExcutor</string>
		<key>out</key>
		<string></string>
		<key>in</key>
		<string>TNTabbarUnreadCountRouterInModel</string>
	</dict>
</dict>
</plist>
