<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>voiceSearch</key>
	<dict>
		<key>excutor</key>
		<string>TLHomeVoiceSearchExcutor</string>
		<key>desc</key>
		<string>首页语音搜索</string>
	</dict>
	<key>startLocation</key>
	<dict>
		<key>excutor</key>
		<string>TLStartLocationExector</string>
		<key>desc</key>
		<string>开始定位</string>
	</dict>
	<key>stopLocation</key>
	<dict>
		<key>excutor</key>
		<string>TLStopLocationExector</string>
		<key>desc</key>
		<string>停止定位</string>
	</dict>
    <key>getLocationLanguage</key>
    <dict>
        <key>out</key>
        <string>NSString</string>
        <key>excutor</key>
        <string>TLGetLocationLanguageExcutor</string>
        <key>desc</key>
        <string>获取语言</string>
    </dict>
	<key>getLocation</key>
	<dict>
		<key>excutor</key>
		<string>TLGetLocationExector</string>
		<key>out</key>
		<string>CLLocation</string>
		<key>desc</key>
		<string>获取位置</string>
	</dict>
	<key>getStepCount</key>
	<dict>
		<key>excutor</key>
		<string>TLGetStepCountExcutor</string>
		<key>desc</key>
		<string>获取计步</string>
	</dict>
	<key>getLocationLanguage</key>
	<dict>
		<key>out</key>
		<string>NSString</string>
		<key>excutor</key>
		<string>TLGetLocationLanguageExcutor</string>
		<key>desc</key>
		<string>获取语言</string>
	</dict>
	<key>search</key>
	<dict>
		<key>excutor</key>
		<string>TLHomeSearchExcutor</string>
		<key>desc</key>
		<string>首页搜索</string>
	</dict>
	<key>editAllApps</key>
	<dict>
		<key>excutor</key>
		<string>TLHomeEditExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>全部-应用编辑页面</string>
	</dict>
	<key>getIP</key>
	<dict>
		<key>excutor</key>
		<string>TLDNSGetIPExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>获取IP地址</string>
	</dict>
	<key>announceList</key>
	<dict>
		<key>excutor</key>
		<string>TLHomeAnnounceListExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>公告列表</string>
	</dict>
	<key>isCertification</key>
	<dict>
		<key>excutor</key>
		<string>TLGetCertificationExcutor</string>
		<key>desc</key>
		<string>获取认证信息</string>
	</dict>
	<key>certificationLevel</key>
	<dict>
		<key>excutor</key>
		<string>TLCertificationLevelExcutor</string>
		<key>desc</key>
		<string>认证等级</string>
	</dict>
	<key>getUserInfo</key>
	<dict>
		<key>excutor</key>
		<string>TLGetUserInfoExcutor</string>
		<key>desc</key>
		<string>获取用户信息</string>
	</dict>
	<key>getOrgTaipIn</key>
	<dict>
		<key>excutor</key>
		<string>TLGetOrgTaipInfoExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>获取组织taip协议相关的本地数据</string>
	</dict>
	<key>appItemClick</key>
	<dict>
		<key>excutor</key>
		<string>TNHomePageFlutterJumpAppExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>flutter点击触发toon协议</string>
	</dict>
	<key>sensorsApp</key>
	<dict>
		<key>excutor</key>
		<string>TNHomePageFlutterSensorsAppExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>flutter调用埋点</string>
	</dict>
</dict>
</plist>
