<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unreadCountChange</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeUnreadCountChangeExcutor</string>
		<key>des</key>
		<string>消息未读数</string>
	</dict>
	<key>taiporginfo</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeProviderTaipOrgExcutor</string>
		<key>des</key>
		<string>调用taip协议相关的组织接口</string>
	</dict>
	<key>jumpapp</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeProviderJumpAppExcutor</string>
		<key>des</key>
		<string>跳转到服务,包括跳转之前的逻辑</string>
	</dict>
	<key>register</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeProviderRegisterExcutor</string>
		<key>des</key>
		<string>注册数据库等信息</string>
	</dict>
	<key>gohomecontroller</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNHomeProviderGoHomeExcutor</string>
		<key>des</key>
		<string>跳转到首页</string>
	</dict>
	<key>visitingrecord</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAddVisitingRecordExcutor</string>
		<key>des</key>
		<string>服务评价</string>
	</dict>
	<key>currentRegiondistrictid</key>
	<dict>
		<key>excutor</key>
		<string>TNEFGetCurrentRegionDistrictExcutor</string>
		<key>des</key>
		<string>获取当前区域编号</string>
	</dict>
	<key>openNoticeList</key>
	<dict>
		<key>excutor</key>
		<string>TLHomeAnnounceListExcutor</string>
		<key>in</key>
		<string>NSDictionary</string>
		<key>desc</key>
		<string>公告列表</string>
	</dict>
</dict>
</plist>
