<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>encryptedDB</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>冬奥通需要使用您的蓝牙信息
冬奥通需要使用您的蓝牙信息</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>请始终允许获取您的位置信息，以便政务服务正常使用。</string>
    <key>baseChannel</key>
    <string>1010</string>
    <key>DTPlatformVersion</key>
    <string>14.4</string>
    <key>cdtp_dns_router</key>
    <string>https://tmail.beijing2022.cn/cdtpdns</string>
    <key>DTSDKBuild</key>
    <string>18D46</string>
    <key>toonType</key>
    <string>137</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>若不允许访问，您将无法使用冬奥通部分和拍摄相关的服务。</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>allowRegisterMulti</key>
    <false/>
    <key>shareQQAppId</key>
    <string>101913887</string>
    <key>CFBundleDisplayName</key>
    <string>冬奥通</string>
    <key>msgseal_domain</key>
    <string>preRelease_router</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>com.myapp.common-data</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.powerpoint.ppt</string>
          <string>public.item</string>
          <string>com.microsoft.word.doc</string>
          <string>com.adobe.pdf</string>
          <string>com.microsoft.excel.xls</string>
          <string>public.image</string>
          <string>public.content</string>
          <string>public.composite-content</string>
          <string>public.archive</string>
          <string>public.audio</string>
          <string>public.movie</string>
          <string>public.text</string>
          <string>public.data</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array>
          <string>96.png</string>
          <string>96@2x.png</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
    </array>
    <key>pushAppKey</key>
    <string>pushAppKeyHuaiRou</string>
    <key>shareWeixinAppId</key>
    <string>wx74cc6da60f9f9f33</string>
    <key>DTXcodeBuild</key>
    <string>12D4e</string>
    <key>sensorsAnalyticsServerUrl</key>
    <string>https://da.systoon.com/config/?project=default</string>
    <key>weixinAppId</key>
    <string>wx74cc6da60f9f9f33</string>
    <key>CFBundleIdentifier</key>
    <string>com.systoon.dongaotoon</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>buglyKey</key>
    <string>a6e3d71916</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>msgsealType</key>
    <string>1137</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>zhumu</string>
      <string>tbopen</string>
      <string>uppayx3</string>
      <string>uppayx2</string>
      <string>uppayx1</string>
      <string>uppaywallet</string>
      <string>uppaysdk</string>
      <string>wechat</string>
      <string>weixin</string>
      <string>weixinULAPI</string>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>sinaweibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqq</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqwpa</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqzone</string>
      <string>mqqapi</string>
      <string>toon</string>
      <string>mbspay</string>
      <string>iosamap</string>
      <string>baidumap</string>
    </array>
    <key>toon_router_domain</key>
    <string>https://my2022.beijing2022.cn/app-dns-api/user/router/basicRouter</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>pushAppId</key>
    <string>1137</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSMotionUsageDescription</key>
    <string>App需要您的同意,才能访问运动与健身。</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>冬奥通需要使用您的蓝牙信息
冬奥通需要使用您的蓝牙信息</string>
    <key>MinimumOSVersion</key>
    <string>9.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>若不允许您将无法保存扫一扫功能选择相册里面的二维码，或无法选择相册里面的图片。</string>
    <key>shareWeiboAppId</key>
    <string>1894078821</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>CFBundleName</key>
    <string>TLauncher</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.5</string>
    <key>tmailAddressSuffix</key>
    <string>tmail.systoon.com</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>TLauncher</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 812}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-1100-Portrait-2436h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>11.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>toon_domain</key>
    <string></string>
    <key>TNBAMapKey</key>
    <string>e02c876740cfd883bb5aab40479533f3</string>
    <key>TPUSH_APP_ID</key>
    <string>1137</string>
    <key>BuildMachineOSBuild</key>
    <string>20G165</string>
    <key>NSCalendarsUsageDescription</key>
    <string>若不允许，你将无法使用日历功能。</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>若不允许，您将无法使用聊天语音发送等功能。</string>
    <key>toon_channel</key>
    <string>1371010</string>
    <key>QQAppId</key>
    <string>101913887</string>
    <key>HiddenCertificateProtocal</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>若不允许，您将无法正常使用班车、住宿等服务获取地理位置</string>
    <key>CFBundleVersion</key>
    <string>2201142046</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>NSFaceIDUsageDescription</key>
    <string>若不允许，你将无法使用Face ID登录功能。</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.systoon.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent101913887</string>
          <string>toon137</string>
          <string>comccbpaycomccbgovpay</string>
          <string>wx74cc6da60f9f9f33</string>
          <string>wb1894078821</string>
          <string>tencent1109849013</string>
        </array>
      </dict>
    </array>
    <key>weixinMiniPath</key>
    <string>pages/authenticate/login/login-account/login-account?from=app&amp;appName=冬奥通&amp;skipbind=1&amp;responseType=code&amp;multiAuthWay=1</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>若不允许，您将无法正常使用班车、住宿等服务获取地理位置</string>
    <key>weixinMiniId</key>
    <string>gh_c2f3c7b13754</string>
    <key>DTSDKName</key>
    <string>iphoneos14.4</string>
    <key>backupStyle</key>
    <string>1</string>
    <key>sensorsAnalyticsConfigUrl</key>
    <string>https://da.systoon.com/sa?project=default</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>访问手机通讯录，获取联系人信息（不会泄漏您的隐私）</string>
    <key>DTPlatformBuild</key>
    <string>18D46</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>若不允许您将无法使用扫一扫功能选择相册里面的二维码，或无法选择相册里面的图片。</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTXcode</key>
    <string>1240</string>
    <key>DTAppStoreToolsBuild</key>
    <string>13C90b</string>
  </dict>
</plist>
