<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>version</key>
        <string>1.0</string>
        <key>subscribe</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRegisterExecutor</string>
        </dict>
        <key>unsubscribe</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRegisterExecutor</string>
        </dict>
        <key>request</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRequestExecutor</string>
        </dict>
        <key>cancel</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRequestExecutor</string>
        </dict>
        <key>send</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRegisterExecutor</string>
        </dict>
        <key>sendExtra</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRequestExecutor</string>
        </dict>
        <key>votewinners</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppVoteExecutor</string>
        </dict>
        <key>uploadFile</key>
        <dict>
            <key>in</key>
            <string>TNCAppFileUploadModel</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppFileExecutor</string>
        </dict>
        <key>uploadAvatar</key>
        <dict>
            <key>in</key>
            <string>TNCAppUploadAvatarModel</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppFileExecutor</string>
        </dict>
        <key>chooseFile</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppFileExecutor</string>
        </dict>
        <key>uploadFileCallBackId</key>
        <dict>
            <key>in</key>
            <string>TNCAppFileUploadModel</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppFileExecutor</string>
        </dict>
        <key>downloadFile</key>
        <dict>
            <key>in</key>
            <string>TNCAppFileUploadModel</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppFileExecutor</string>
        </dict>
        <key>openInputApp</key>
        <dict>
            <key>in</key>
            <string>TNCAppOpenModel</string>
            <key>out</key>
            <string></string>
            <key>excutor</key>
            <string>TNCAppRequestExecutor</string>
        </dict>
    </dict>
</plist>
