<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setup</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>NSDictionary</string>
	</dict>
	<key>updateOrgInfo</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>NSDictionary</string>
	</dict>
    <key>reset</key>
    <dict>
        <key>excutor</key>
        <string>TNOrganizationExecutor</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>NSDictionary</string>
    </dict>
	<key>login</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>TNORGLoginByPersonModel</string>
	</dict>
	<key>logout</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>NSDictionary</string>
	</dict>
	<key>getCardList</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>NSDictionary</string>
	</dict>
	<key>getCertsAndCards</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>TNORGGetCertAndCardModel</string>
	</dict>
	<key>getAppList</key>
	<dict>
		<key>excutor</key>
		<string>TNOrganizationExecutor</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>in</key>
		<string>TNORGGetAppListModel</string>
	</dict>
    <key>getOrgList</key>
    <dict>
        <key>excutor</key>
        <string>TNOrganizationExecutor</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>NSDictionary</string>
    </dict>
    <key>getUserInfo</key>
    <dict>
        <key>excutor</key>
        <string>TNOrganizationExecutor</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>NSDictionary</string>
    </dict>
    <key>getOrgToken</key>
    <dict>
        <key>excutor</key>
        <string>TNOrganizationExecutor</string>
        <key>out</key>
        <string>NSDictionary</string>
        <key>in</key>
        <string>NSDictionary</string>
    </dict>
</dict>
</plist>
