<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>recognitionphoto</key>
	<dict>
		<key>in</key>
		<string>TNQrcodePhotoParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNQrcodeRecognitionModel</string>
		<key>descripstion</key>
		<string>识别图片是否包含二维码</string>
	</dict>
	<key>jumpphotoqrcode</key>
	<dict>
		<key>in</key>
		<string>TNQrcodePhotoParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNQrcodePhotoModel</string>
		<key>descripstion</key>
		<string>识别图中二维码跳转</string>
	</dict>
	<key>scanResultsHandle</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNScanResultsHandleModel</string>
		<key>descripstion</key>
		<string>扫描结果是否要业务方自己处理</string>
	</dict>
	<key>qrcodeTool</key>
	<dict>
		<key>in</key>
		<string>TNAQrcodeModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAQrcodeModel</string>
		<key>description</key>
		<string>h5页面跳转二维码的toon协议</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>scan</key>
	<dict>
		<key>in</key>
		<string>TA_QrInModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TA_qrcode_home</string>
		<key>description</key>
		<string>跳转扫一扫toon协议</string>
	</dict>
	<key>show</key>
	<dict>
		<key>in</key>
		<string>TNRQrcodeParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNRQCodeJumpToModel</string>
		<key>description</key>
		<string>跳转小组二维码页或者个人名片二维码页,处理跳转逻辑</string>
	</dict>
	<key>groupshow</key>
	<dict>
		<key>in</key>
		<string>TNRQrcodeParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TA_qrcode_show</string>
		<key>description</key>
		<string>跳转小组二维码的toon协议</string>
	</dict>
	<key>cardshow</key>
	<dict>
		<key>in</key>
		<string>TNRQrcodeParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TA_qrcode_show</string>
		<key>description</key>
		<string>跳转个人名片二维码的toon协议</string>
	</dict>
	<key>scanToLogin</key>
	<dict>
		<key>in</key>
		<string>TNAScanToLoginModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAExcutorScanModel</string>
		<key>descripstion</key>
		<string>扫码登陆toon协议</string>
	</dict>
	<key>scancharacters</key>
	<dict>
		<key>in</key>
		<string>TNQRCodeWebModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNQRCodeCharactersController</string>
		<key>description</key>
		<string>扫描文字二维码跳转</string>
	</dict>
	<key>openmyappqrcode</key>
	<dict>
		<key>in</key>
		<string>TNQRCodeWebModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNQRCodeMyAppModel</string>
		<key>description</key>
		<string>打开app下载页面</string>
	</dict>
</dict>
</plist>
