<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.toon.default</string>
	<key>group_name</key>
	<string>最近</string>
	<key>emotions</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>cht</key>
			<string>[微笑]</string>
			<key>git</key>
			<string>001@2x.gif</string>
			<key>png</key>
			<string>001.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流泪]</string>
			<key>cht</key>
			<string>[流泪]</string>
			<key>git</key>
			<string>006@2x.gif</string>
			<key>png</key>
			<string>006.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[尴尬]</string>
			<key>cht</key>
			<string>[尴尬]</string>
			<key>git</key>
			<string>011@2x.gif</string>
			<key>png</key>
			<string>011.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[呲牙]</string>
			<key>cht</key>
			<string>[呲牙]</string>
			<key>git</key>
			<string>014@2x.gif</string>
			<key>png</key>
			<string>014.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>cht</key>
			<string>[偷笑]</string>
			<key>git</key>
			<string>021@2x.gif</string>
			<key>png</key>
			<string>021.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[再见]</string>
			<key>cht</key>
			<string>[再见]</string>
			<key>git</key>
			<string>040@2x.gif</string>
			<key>png</key>
			<string>040.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[赞]</string>
			<key>cht</key>
			<string>[赞]</string>
			<key>git</key>
			<string>055@2x.gif</string>
			<key>png</key>
			<string>055.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>cht</key>
			<string>[握手]</string>
			<key>git</key>
			<string>057@2x.gif</string>
			<key>png</key>
			<string>057.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[胜利]</string>
			<key>cht</key>
			<string>[胜利]</string>
			<key>git</key>
			<string>058@2x.gif</string>
			<key>png</key>
			<string>058.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抱拳]</string>
			<key>cht</key>
			<string>[抱拳]</string>
			<key>git</key>
			<string>059@2x.gif</string>
			<key>png</key>
			<string>059.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拳头]</string>
			<key>cht</key>
			<string>[拳头]</string>
			<key>git</key>
			<string>061@2x.gif</string>
			<key>png</key>
			<string>061.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[OK]</string>
			<key>cht</key>
			<string>[OK]</string>
			<key>git</key>
			<string>065@2x.gif</string>
			<key>png</key>
			<string>065.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[玫瑰]</string>
			<key>cht</key>
			<string>[玫瑰]</string>
			<key>git</key>
			<string>069@2x.gif</string>
			<key>png</key>
			<string>069.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱心]</string>
			<key>cht</key>
			<string>[爱心]</string>
			<key>git</key>
			<string>072@2x.gif</string>
			<key>png</key>
			<string>072.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊讶]</string>
			<key>cht</key>
			<string>[惊讶]</string>
			<key>git</key>
			<string>015@2x.gif</string>
			<key>png</key>
			<string>015.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发怒]</string>
			<key>cht</key>
			<string>[发怒]</string>
			<key>git</key>
			<string>012@2x.gif</string>
			<key>png</key>
			<string>012.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流汗]</string>
			<key>cht</key>
			<string>[流汗]</string>
			<key>git</key>
			<string>028@2x.gif</string>
			<key>png</key>
			<string>028.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>cht</key>
			<string>[疑问]</string>
			<key>git</key>
			<string>033@2x.gif</string>
			<key>png</key>
			<string>033.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奋斗]</string>
			<key>cht</key>
			<string>[奋斗]</string>
			<key>git</key>
			<string>031@2x.gif</string>
			<key>png</key>
			<string>031.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[太阳]</string>
			<key>cht</key>
			<string>[太阳]</string>
			<key>git</key>
			<string>076@2x.gif</string>
			<key>png</key>
			<string>076.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
