<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shareHandleOpenURL</key>
	<dict>
		<key>excutor</key>
		<string>TNShareHandleOpenURLManager</string>
		<key>description</key>
		<string>返回bool</string>
		<key>in</key>
		<string>NSDictionary</string>
	</dict>
	<key>hiddenshareviewprotocol</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNShareViewHiddenViewProtocol</string>
		<key>description</key>
		<string>隐藏分享视图的toon协议</string>
	</dict>
	<key>shareviewprotocol</key>
	<dict>
		<key>in</key>
		<string>TNShareManagerParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNShareToonProtocolManager</string>
		<key>description</key>
		<string>分享到各个渠道，弹出低栏的toon协议</string>
	</dict>
	<key>singleshareprotocol</key>
	<dict>
		<key>in</key>
		<string>TNShareManagerParamModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAShareManager</string>
		<key>description</key>
		<string>分享到各个渠道的toon协议，没有底栏弹出，单个分享</string>
	</dict>
</dict>
</plist>
