<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forum</key>
	<dict>
		<key>in</key>
		<string>TNShareToonInput</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNShareSDKExcutor</string>
		<key>description</key>
		<string>分享到小组的跳转toon协议</string>
	</dict>
	<key>toonfriend</key>
	<dict>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNSShareRouterExcutor</string>
		<key>in</key>
		<string>TNSShareRouterModel</string>
		<key>description</key>
		<string>分享到toon好友</string>
	</dict>
</dict>
</plist>
