<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skinStateChanged</key>
	<dict>
		<key>excutor</key>
		<string>UISkeletonTabbar</string>
		<key>des</key>
		<string>换肤状态改变后通知</string>
	</dict>
	<key>getSkeleton</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>UISkeletonTabbar</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>jumpToTab</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>UISkeletonTabbar</string>
		<key>catchCallBack</key>
		<false/>
	</dict>
    <key>reset</key>
    <dict>
        <key>in</key>
        <string>NSDictionary</string>
        <key>excutor</key>
        <string>UISkeletonTabbar</string>
        <key>catchCallBack</key>
        <false/>
    </dict>
    <key>getConfig</key>
    <dict>
        <key>in</key>
        <string>NSDictionary</string>
        <key>excutor</key>
        <string>UISkeletonTabbar</string>
        <key>catchCallBack</key>
        <false/>
    </dict>
    <key>changeVersion</key>
    <dict>
        <key>in</key>
        <string>NSDictionary</string>
        <key>excutor</key>
        <string>UISkeletonTabbar</string>
        <key>catchCallBack</key>
        <false/>
    </dict>
</dict>
</plist>
