<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Authntication</key>
	<dict>
		<key>description</key>
		<string>验证是否实名认证</string>
		<key>in</key>
		<string>TCloudAuthnticationModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudNetWorkRequestModel</string>
	</dict>
	<key>openTCloudLogin</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TOpenTCloudLoginModel</string>
		<key>description</key>
		<string>打开tooncloud登陆界面</string>
	</dict>
	<key>quitTCloudLogin</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>ToonCloudLogoutModel</string>
		<key>description</key>
		<string>打开tooncloud登陆界面</string>
	</dict>
	<key>getFileList</key>
	<dict>
		<key>in</key>
		<string>TCloudGetFileListRequestModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudNetWorkRequestModel</string>
		<key>description</key>
		<string>获取文件列表</string>
	</dict>
	<key>uploadFile</key>
	<dict>
		<key>in</key>
		<string>TCloudUploadRequestModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudNetWorkRequestModel</string>
		<key>description</key>
		<string>上传文件</string>
	</dict>
	<key>batchUploadFile</key>
	<dict>
		<key>in</key>
		<string>TCloudBatchUploadRequestModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudNetWorkRequestModel</string>
		<key>description</key>
		<string>批量上传</string>
	</dict>
	<key>downloadFile</key>
	<dict>
		<key>in</key>
		<string>TCloudDownloadRequestModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudNetWorkRequestModel</string>
		<key>description</key>
		<string>下载文件</string>
	</dict>
	<key>getTelephoneNum</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudGetTelephoneNumModel</string>
		<key>description</key>
		<string>获取toonclud手机号</string>
	</dict>
	<key>getLoginStatus</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudGetLoginStatusModel</string>
		<key>description</key>
		<string>获取登陆状态</string>
	</dict>
	<key>openPhoneVerify</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>ToonCloudOpenPhoneVerifyModel</string>
		<key>description</key>
		<string>打开tooncloud短信验证界面</string>
	</dict>
	<key>saveUserInfo</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>ToonCloudSaveUserInfoModel</string>
		<key>description</key>
		<string>保存tooncloud 信息</string>
	</dict>
	<key>removeFile</key>
	<dict>
		<key>in</key>
		<string>TCloudRemoveFileModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TCloudNetWorkRequestModel</string>
		<key>description</key>
		<string>删除接口</string>
	</dict>
</dict>
</plist>
