<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cerManage</key>
	<dict>
		<key>in</key>
		<string>TEBCPManagerExecutorModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TeBackUpCerManageRouter</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>backup</key>
	<dict>
		<key>in</key>
		<string>TEBCPBackupExecutorModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TeBackupModules</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>recover</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TeRecoverModules</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>addCP</key>
	<dict>
		<key>in</key>
		<string>TEBPAddCPModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPBPManagerModules</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>removeCP</key>
	<dict>
		<key>in</key>
		<string>TEBPRemoveCPModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPBPManagerModules</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>updateCP</key>
	<dict>
		<key>in</key>
		<string>TEBPUpdateCPModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPBPManagerModules</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>addCPListener</key>
	<dict>
		<key>in</key>
		<string>TEBPAddCPListenerModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPRegisterModules</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>systemImport</key>
	<dict>
		<key>in</key>
		<string>TEBSystemImportModel</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBSystemImportExecutor</string>
		<key>catchCallBack</key>
		<true/>
	</dict>
	<key>reachabilityInit</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TEBPReachabilityExecutor</string>
		<key>catchCallBack</key>
		<false/>
	</dict>
</dict>
</plist>
