<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>config</key>
  <dict>
    <key>MMPHImageAssetsViewController</key>
    <dict>
      <key>CellName</key>
      <string>TNCAssetCollectionViewCell</string>
    </dict>
    <key>NavBarButtonColorNormal</key>
    <string>#383838</string>
    <key>NavBarButtonColorSelected</key>
    <string>#383838</string>
    <key>TNCAssetsViewController</key>
    <dict>
      <key>CellName</key>
      <string>TNCAssetCollectionViewCell</string>
    </dict>
    <key>buttonDisabledColor</key>
    <string>#9B9B9B</string>
    <key>buttonNormalColor</key>
    <string>#007aff</string>
    <key>editVideoBoxLeftControll</key>
    <string>video_control_box_left</string>
    <key>editVideoBoxRightControll</key>
    <string>video_control_box_right</string>
    <key>gifIconImage</key>
    <string>GIF</string>
    <key>goBackImage</key>
    <string>tn_image_icon_back</string>
    <key>photoSelectedButtonImageHighlight</key>
    <string>photo_selected</string>
    <key>photoSelectedButtonImageNormal</key>
    <string>photo_normal</string>
    <key>photoVideoIconImage</key>
    <string>video_icon</string>
    <key>playVideoIcaoImage</key>
    <string>play_video</string>
    <key>showDefaultAlbum</key>
    <string>1</string>
    <key>videoDurationAlertIcon</key>
    <string>videoDurationAlertIcon</string>
  </dict>
  <key>material</key>
  <dict>
    <key>m1</key>
    <string>call</string>
    <key>m2</key>
    <string>addIcon</string>
    <key>m3</key>
    <string>#D0E0E0</string>
  </dict>
</dict>
</plist>
