<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>repairRecord</key>
	<dict>
		<key>in</key>
		<string>TNBRouterRepairModel</string>
		<key>excutor</key>
		<string>TNBRepairRecordTableViewController</string>
	</dict>
	<key>doorgrandSet</key>
	<dict>
		<key>excutor</key>
		<string>TNBCommunityAdminTableViewController</string>
	</dict>
	<key>toonflashSet</key>
	<dict>
		<key>excutor</key>
		<string>TNBIBeaconSettingTableViewController</string>
	</dict>
	<key>shakeByShake</key>
	<dict>
		<key>excutor</key>
		<string>TNBShakeTableViewController</string>
	</dict>
	<key>nearByNear</key>
	<dict>
		<key>excutor</key>
		<string>TNBCloselyViewController</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>showUserMainView</key>
	<dict>
		<key>in</key>
		<string>TNRouterLockModel</string>
		<key>excutor</key>
		<string>TNBDoorGuardTabBarController</string>
	</dict>
</dict>
</plist>
