<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openAgreement</key>
	<dict>
		<key>description</key>
		<string>打开AgreementViewController</string>
		<key>excutor</key>
		<string>TTemailUserAgreementViewController</string>
		<key>in</key>
		<string>TSettingAgreementInModel</string>
	</dict>
	<key>openPrivacyAgreement</key>
	<dict>
		<key>in</key>
		<string>TSettingAgreementInModel</string>
		<key>excutor</key>
		<string>TSettingAgreementExcutorModel</string>
		<key>description</key>
		<string>打开隐私政策</string>
	</dict>
	<key>openTcloudUseProtocol</key>
	<dict>
		<key>in</key>
		<string>TSettingAgreementInModel</string>
		<key>excutor</key>
		<string>TSettingAgreementExcutorModel</string>
		<key>description</key>
		<string>打开数字护照使用协议</string>
	</dict>
	<key>openTcloudSaveProtocol</key>
	<dict>
		<key>in</key>
		<string>TSettingAgreementInModel</string>
		<key>excutor</key>
		<string>TSettingAgreementExcutorModel</string>
		<key>description</key>
		<string>打开数字护照网盘服务协议</string>
	</dict>
	<key>openGroupAgreement</key>
	<dict>
		<key>in</key>
		<string>TSettingAgreementInModel</string>
		<key>excutor</key>
		<string>TSettingAgreementExcutorModel</string>
		<key>description</key>
		<string>打开群服务协议</string>
	</dict>
	<key>openNewFeatures</key>
	<dict>
		<key>excutor</key>
		<string>TNewFeaturesViewController</string>
		<key>description</key>
		<string>打开新功能介绍</string>
	</dict>
	<key>openSetLanguage</key>
	<dict>
		<key>excutor</key>
		<string>TInternationalizationViewController</string>
		<key>description</key>
		<string>打开语言设置</string>
	</dict>
	<key>openSetFontSize</key>
	<dict>
		<key>excutor</key>
		<string>TSetFontSizeViewController</string>
		<key>description</key>
		<string>打开字体大小设置</string>
	</dict>
	<key>openTemailUserAgreement</key>
	<dict>
		<key>in</key>
		<string>TSettingAgreementInModel</string>
		<key>excutor</key>
		<string>TSettingAgreementExcutorModel</string>
		<key>description</key>
		<string>打开秘邮服务协议</string>
	</dict>
	<key>openAboutTemail</key>
	<dict>
		<key>excutor</key>
		<string>TAboutTemailViewController</string>
		<key>description</key>
		<string>打开关于秘邮</string>
	</dict>
	<key>tsetSecurityCode</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>description</key>
		<string>设置安全密码页面</string>
		<key>excutor</key>
		<string>TSecurityCodeViewController</string>
	</dict>
	<key>tsetOldSecurityCode</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TOldSecurityCodeViewController</string>
		<key>description</key>
		<string>安全密码页面</string>
	</dict>
	<key>tsetMoreSetCode</key>
	<dict>
		<key>excutor</key>
		<string>TWSetCodeViewController</string>
		<key>description</key>
		<string>秘邮安全密码设置页面</string>
	</dict>
</dict>
</plist>
