<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0</string>
	<key>setup</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>wakeup</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>asleep</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>open</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>sendMail</key>
	<dict>
		<key>in</key>
		<string>TNAISendMailModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>uploadContact</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>ringup</key>
	<dict>
		<key>in</key>
		<string>TNAISendMailModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>uploadTelephone</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>monitor</key>
	<dict>
		<key>in</key>
		<string>TNAISendMailModel</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TNAIOpenExcutor</string>
	</dict>
	<key>openVoiceTransform</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TVoiceTransformManager</string>
	</dict>
	<key>voiceTransformToText</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TVoiceTransformModel</string>
	</dict>
	<key>voiceTransformToTextIsListening</key>
	<dict>
		<key>in</key>
		<string></string>
		<key>out</key>
		<string></string>
		<key>excutor</key>
		<string>TVoiceTransformModel</string>
	</dict>
</dict>
</plist>
