<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   tsplashboard.plist
   TSplashBoard

   Created by H L on 2018/7/5.
   Copyright (c) 2018 __MyCompanyName__. All rights reserved.
-->
<plist version="1.0">
    <dict>

        <key>tsplash</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string>NSDictionary</string>
            <key>excutor</key>
            <string>TSplashBoardModule</string>
            <key>catchCallBack</key>
            <true/>
        </dict>

        <key>tsplashnet</key>
        <dict>
            <key>in</key>
            <string>NSDictionary</string>
            <key>out</key>
            <string>NSDictionary</string>
            <key>excutor</key>
            <string>TSplashBoardModuleNet</string>
            <key>catchCallBack</key>
            <true/>
        </dict>
    
    </dict>
</plist>
