<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getToken</key>
	<dict>
		<key>in</key>
		<string>NSDictionary</string>
		<key>out</key>
		<string>NSDictionary</string>
		<key>excutor</key>
		<string>TTaipExecutorModel</string>
		<key>description</key>
		<string>获取token</string>
	</dict>
</dict>
</plist>
