<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayOrder</key>
		<integer>1</integer>
		<key>fieldId</key>
		<integer>12</integer>
		<key>fieldName</key>
		<string>头像</string>
		<key>fieldName_english</key>
		<string>Profile Picture</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>remark</key>
		<string>头像</string>
		<key>remark_english</key>
		<string>Profile Picture</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>11</integer>
		<key>vcardName</key>
		<string>PHOTO</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_PHOTO</string>
		<key>viewType</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>2</integer>
		<key>fieldId</key>
		<integer>15</integer>
		<key>fieldName</key>
		<string>名称</string>
		<key>fieldName_english</key>
		<string>Name</string>
		<key>guideWords</key>
		<string>名片名称</string>
		<key>guideWords_english</key>
		<string>Name</string>
		<key>isRequire</key>
		<integer>1</integer>
		<key>maxLength</key>
		<integer>30</integer>
		<key>remark</key>
		<string>名片名称</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>N</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_N</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>2</integer>
		<key>fieldId</key>
		<integer>15</integer>
		<key>fieldName</key>
		<string>昵称</string>
		<key>fieldName_english</key>
		<string>Name</string>
		<key>guideWords</key>
		<string>名片昵称</string>
		<key>guideWords_english</key>
		<string>NickName</string>
		<key>isRequire</key>
		<integer>1</integer>
		<key>maxLength</key>
		<integer>30</integer>
		<key>remark</key>
		<string>名片昵称</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>FN</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_N</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>3</integer>
		<key>fieldId</key>
		<integer>3</integer>
		<key>fieldName</key>
		<string>电子邮件</string>
		<key>fieldName_english</key>
		<string>Email</string>
		<key>guideWords</key>
		<string>电子邮箱地址</string>
		<key>guideWords_english</key>
		<string>Email</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>320</integer>
		<key>remark</key>
		<string>电子邮件</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>validateRegex</key>
		<string>^[A-Za-z0-9]+([-_.][A-Za-z0-9]+)*@([A-Za-z0-9]+[-.])+[A-Za-z0-9]{2,6}$</string>
		<key>vcardName</key>
		<string>EMAIL#WORK</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_EMAILWORK</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>4</integer>
		<key>fieldId</key>
		<integer>1</integer>
		<key>fieldName</key>
		<string>联系电话</string>
		<key>fieldName_english</key>
		<string>Phone</string>
		<key>guideWords</key>
		<string>11位手机号码</string>
		<key>guideWords_english</key>
		<string>Phone Number</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>11</integer>
		<key>remark</key>
		<string>电话</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>10</integer>
		<key>validateRegex</key>
		<string>^\d{11}$</string>
		<key>vcardName</key>
		<string>TEL#WORK</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_TELWORK</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>5</integer>
		<key>fieldId</key>
		<integer>7</integer>
		<key>fieldName</key>
		<string>职位</string>
		<key>fieldName_english</key>
		<string>Job Title</string>
		<key>guideWords</key>
		<string>职位名称</string>
		<key>guideWords_english</key>
		<string>Title</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>remark</key>
		<string>职位</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>TITLE</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_TITLE</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>6</integer>
		<key>fieldId</key>
		<integer>4</integer>
		<key>fieldName</key>
		<string>公司部门</string>
		<key>fieldName_english</key>
		<string>Department</string>
		<key>guideWords</key>
		<string>公司及部门名称</string>
		<key>guideWords_english</key>
		<string>Corp Department</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>remark</key>
		<string>组织名称</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>ORG</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_ORG</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>7</integer>
		<key>fieldId</key>
		<integer>5</integer>
		<key>fieldName</key>
		<string>地址</string>
		<key>fieldName_english</key>
		<string>Address</string>
		<key>guideWords</key>
		<string>详细地址信息</string>
		<key>guideWords_english</key>
		<string>Detailed Address</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>remark</key>
		<string>地址</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>ADR</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_ADR</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>8</integer>
		<key>fieldId</key>
		<integer>8</integer>
		<key>fieldName</key>
		<string>生日</string>
		<key>fieldName_english</key>
		<string>Phone</string>
		<key>guideWords</key>
		<string>年月日</string>
		<key>guideWords_english</key>
		<string>YYYY/MM/DD</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>remark</key>
		<string>生日</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>190</integer>
		<key>useType</key>
		<integer>8</integer>
		<key>vcardName</key>
		<string>BDAY</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_BDAY</string>
		<key>viewType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>9</integer>
		<key>fieldId</key>
		<integer>20</integer>
		<key>fieldName</key>
		<string>简介</string>
		<key>fieldName_english</key>
		<string>Note</string>
		<key>guideWords</key>
		<string>详细描述信息</string>
		<key>guideWords_english</key>
		<string>Add a Note</string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>100</integer>
		<key>remark</key>
		<string>简介</string>
		<key>status</key>
		<integer>1</integer>
		<key>updateTime</key>
		<integer>1</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>NOTE</string>
		<key>vcardImageName</key>
		<string>Card_ImageName_NOTE</string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>displayOrder</key>
		<integer>10001</integer>
		<key>fieldId</key>
		<integer>10001</integer>
		<key>fieldName</key>
		<string></string>
		<key>fieldName_english</key>
		<string></string>
		<key>guideWords</key>
		<string>拼音不显示</string>
		<key>guideWords_english</key>
		<string></string>
		<key>isRequire</key>
		<integer>0</integer>
		<key>maxLength</key>
		<integer>0</integer>
		<key>remark</key>
		<string>拼音</string>
		<key>status</key>
		<integer>0</integer>
		<key>updateTime</key>
		<integer>1</integer>
		<key>useType</key>
		<integer>0</integer>
		<key>vcardName</key>
		<string>X-MSGSEAL-SPELL</string>
		<key>vcardImageName</key>
		<string></string>
		<key>viewType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
